<div class="navbar-container ace-save-state" id="navbar-container">
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-header pull-left">
        <a [routerLink]="'/'" class="navbar-brand">
            <small>
                <i class="fa fa-print"></i>
                ระบบระบบพิมพ์สลิปเงินเดือน และหนังสือรับรองการหักภาษี ณ ที่จ่าย
            </small>
        </a>
    </div>
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li *ngIf="!decode" class="blue">
                <a [routerLink]="['/signin']" class="dropdown-toggle">
                    <i class="glyphicon glyphicon-log-in"></i>
                    เข้าสู่ระบบ
                </a>
            </li>
            <li *ngIf="!decode" class="blue">
                <a [routerLink]="['/signup']" class="dropdown-toggle">
                    <i class="glyphicon glyphicon-edit"></i>
                    สมัครสมาชิก
                </a>
            </li>
            <li *ngIf="decode" class="light-blue dropdown-modal">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" style="width: 40px; height: 40px;"
                        [src]="decode.image || 'assets/images/profile-avatar-user-' + decode.sex + '.png'"
                        alt="Jason's Photo" />
                    <span class="user-info">
                        <small>ยินดีต้อนรับ,</small>
                        {{ decode.fname }}
                    </span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li *ngIf="menuAdmin">
                        <a role="button" (click)="onEditEmail()">
                            <i class="ace-icon fa fa-pencil"></i>
                            แก้ไข Email สมาชิก
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/settings/hospital-confirm']">
                            <i class="ace-icon fa fa-check-square-o"></i>
                            ยืนยันการย้ายสถานที่ปฏิบัติงาน
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/settings/hospital']">
                            <i class="ace-icon fa fa-hospital-o"></i>
                            จัดการสถานที่ปฏิบัติงาน
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/settings/position']">
                            <i class="ace-icon fa fa-address-book-o"></i>
                            จัดการตำแหน่ง
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/settings/profile']">
                            <i class="ace-icon fa fa-user-circle-o"></i>
                            แก้ไขโปรไฟล์
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" (click)="onLogout()">
                            <i class="ace-icon fa fa-power-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- /.navbar-container -->