<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="ace-icon fa fa-sitemap"></i>
                        404
                    </span>
                    Page Not Found
                </h1>
                <hr />
                <h3 class="lighter smaller">เรามองไปทุกที่ แต่หาไม่เจอ!</h3>
                <div>
                    <form class="form-search">
                        <span class="input-icon align-middle">
                            <i class="ace-icon fa fa-search"></i>

                            <input type="text" class="search-query" placeholder="Give it a search..." />
                        </span>
                        <button class="btn btn-sm" type="button">Go!</button>
                    </form>

                    <div class="space"></div>
                    <h4 class="smaller">รายการหน้าที่มีอยู่:</h4>

                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li>
                            <a [routerLink]="['/']">
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                ไปยังหน้าแรก
                            </a>
                        </li>
                        <!-- <li>
                            <a [routerLink]="['/apps/meeting']">
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                ไปยังหน้าจองห้องประชุม
                            </a>
                        </li> -->
                    </ul>
                </div>
                <hr />
                <div class="space"></div>
                <div class="center">
                    <a href="javascript:history.back()" class="btn btn-grey">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Go Back
                    </a>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->