<div *ngIf="loading" class="widget-box-overlay">
    <i class="ace-icon loading-xx loading-icon fa fa-spinner fa-pulse fa-3x fa-fw white" style="top: 50%;"></i>
</div>
<app-breadcrumbs [subTitle]="'ระบบจองห้องประชุมออนไลน์'"></app-breadcrumbs>
<div class="page-content">
    <div class="page-header center" style="padding-top: 5px;">
        <h1>
            <i class="fa fa-calendar"></i>
            ระบบจองห้องประชุมออนไลน์
        </h1>
        <p></p>
        -:- สำนักงานสาธารณสุขจังหวัดชัยภูมิ -:-
    </div>
    <!-- <div class="row">
        <div *ngFor="let r of room" class="external-event col-sm-3" [ngClass]="r.class" data-class="{{ r.class }}"
            [ngStyle]="{'background-color':r.color}">
            <i class="ace-icon fa" [ngClass]="r.icon"></i>
            {{ r.room }}
        </div>
    </div> -->
    <div class="row">
        <!-- <div class="vspace-6-sm"></div> -->
        <div class="col-sm-12" *ngIf="options">
            <full-calendar #calendar [locales]="locales" [editable]="options.editable" [timeZone]="options.timeZone"
                [firstDay]="options.firstDay" [defaultView]="options.defaultView" [selectable]="options.selectable"
                [eventLimit]="options.eventLimit" [header]="options.header" [eventTimeFormat]="options.eventTimeFormat"
                [plugins]="options.plugins" [events]="events" (select)="select($event)"
                (eventClick)="eventClick($event.event.id)" (datesRender)="datesRender($event)"
                (eventRender)="eventRender($event)">
            </full-calendar>
        </div>
        <!-- <div class="col-sm-3">
            <div class="widget-box transparent">
                <div class="widget-header center">
                    <h4>รายชื่อห้องประชุมทั้งหมด</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div id="external-events">
                            <div *ngFor="let r of room" class="external-event" [ngClass]="r.class"
                                data-class="{{ r.class }}">
                                <i class="ace-icon fa" [ngClass]="r.icon"></i>
                                {{ r.room }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="space-6"></div>
    </div><!-- /.row -->
    <div class="row">
        <div class="space-12"></div>
        <div class="col-sm-12">
            <div class="table-header center" [style.background-color]="(room | filter: {id: roomId})[0].color"
                *ngIf="roomId">
                <span class="h5">
                    <i class="ace-icon fa fa-building bigger-120"></i>
                    {{ (room | filter: {id: roomId})[0].room }}
                </span>
                <span class="pull-right" style="margin-right: 15px;">
                    <a href="#" (click)="print('meeting-room');$event.preventDefault();" style="color: #FFF;">
                        <i class="fa fa-print" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
                    <li *ngFor="let r of room" [class.active]="r.id==roomId">
                        <a data-toggle="tab" href="#room{{r.id}}" (click)="roomId=r.id">
                            <i class="ace-icon fa bigger-120" [ngClass]="[r.icon, r.color]"></i>
                            {{ r.room }}
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="material" class="tab-pane active">
                        <div id="meeting-room" class="box-body table-responsive no-padding">
                            <table class="table table-bordered table-hover table-striped headercenter">
                                <thead>
                                    <tr *ngIf="room" id="header-room" style="display: none;">
                                        <th colspan="7">
                                            <i class="ace-icon fa fa-building bigger-120"></i>
                                            {{ (room | filter: {id: roomId})[0].room }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>จาก</th>
                                        <th>ถึง</th>
                                        <th>หัวข้อประชุม</th>
                                        <th>รูปแบบ</th>
                                        <th>กลุ่มงาน / งาน</th>
                                        <th>ผู้จอง</th>
                                        <th *ngIf="decode" class="list-room-hidden">เอกสารแนบ</th>
                                        <th class="list-room-hidden">รายละเอียด</th>
                                        <th class="list-room-hidden" *ngIf="authGuard3">ลบ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let m of meetingAll | filter: { room_id: roomId }; let i=index">
                                        <td class="center">{{ i+1 }}</td>
                                        <td>
                                            {{ m.start_date | thaidate:'short' }}
                                            {{ m.start_date | date:'HH:mm':'utc' }}
                                            น.
                                        </td>
                                        <td>
                                            {{ m.end_date | thaidate:'short' }}
                                            {{ m.end_date | date:'HH:mm':'utc' }}
                                            น.
                                        </td>
                                        <td>{{ m.topic }}</td>
                                        <td class="center">{{ m.type_room }}</td>
                                        <td>{{ m.workgroup }}</td>
                                        <td>{{ m.pname }}{{ m.fname }} {{ m.lname }}</td>
                                        <td *ngIf="decode" class="center list-room-hidden">
                                            <a *ngIf="m.url" [href]="m.url" target="_blank" rel="noopener noreferrer">
                                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td class="center list-room-hidden">
                                            <div class="btn-group">
                                                <button (click)="eventClick(m.id)" type="button"
                                                    class="btn btn-xs btn-info">
                                                    <i class="ace-icon fa fa-file-text-o bigger-120"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td *ngIf="authGuard3" class="center list-room-hidden">
                                            <div *ngIf="decode?.cid==m.cid" class="btn-group">
                                                <button (click)="onDel(m)" type="button" class="btn btn-xs btn-danger">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div>
</div>

<div class="modal fade" id="modal-new-meeting">
    <div class="modal-dialog">
        <div class="modal-content">
            <form enctype="multipart/form-data" class="form-horizontal" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title center" [ngClass]="(room)?(room|filter:{id:meeting.room_id})[0].color:''">
                        <i class="ace-icon fa fa-building"></i>
                        {{ (!disabled)?'จองห้องประชุม':(room|filter:{id:meeting.room_id})[0].room }}
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="position-relative">
                                <div class="space-6"></div>
                                <div class="form-group">
                                    <label for="dateStr" class="col-sm-3 control-label no-padding-right">
                                        วันที่ใช้ห้อง:
                                    </label>
                                    <label class="col-sm-5 block clearfix" style="padding-top:7px;">
                                        {{ meeting.start_date | thaidate:'short' }}
                                        <span *ngIf="meeting?.start_date!=meeting?.end_date">
                                            ถึง
                                            {{ meeting.end_date | thaidate:'short' }}
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="room_id" class="col-sm-3 control-label no-padding-right">
                                        <span *ngIf="!disabled">เลือก</span>ห้องประชุม:
                                    </label>
                                    <label class="col-sm-7 block clearfix">
                                        <select [(ngModel)]="meeting.room_id" name="room_id" id="room_id"
                                            class="form-control" style="width: 100%;" [disabled]="disabled">
                                            <option *ngFor="let r of room" [value]="r.id">
                                                {{ r.room }}
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="type_meeting" class="col-sm-3 control-label no-padding-right">
                                        <span *ngIf="!disabled">เลือก</span>ประเภทประชุม:
                                    </label>
                                    <label class="col-sm-7 block clearfix">
                                        <select [(ngModel)]="meeting.type_meeting" name="type_meeting" id="type_meeting"
                                            class="form-control" style="width: 100%;" [disabled]="disabled">
                                            <option *ngFor="let t of typeMeeting" [value]="t.id">
                                                {{ t.type_meeting }}
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group" [class.has-error]="errTopic">
                                    <label for="topic" class="col-sm-3 control-label no-padding-right">
                                        หัวข้อประชุม:
                                    </label>
                                    <label class="col-sm-8 block clearfix">
                                        <input [(ngModel)]="meeting.topic" type="text" class="form-control" name="topic"
                                            id="topic" (blur)="onTopic(meeting.topic)" (keyup)="onTopic(meeting.topic)"
                                            placeholder="หัวข้อประชุม" [disabled]="disabled" />
                                        <span class="help-block col-xs-12 col-sm-reset inline" style="font-size: 12px;"
                                            *ngIf="errTopic">
                                            *จำเป็นต้องมีข้อมูล !
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="timeStr" class="col-sm-3 control-label no-padding-right">
                                        ช่วงเวลา:
                                    </label>
                                    <label class="col-sm-​8 block clearfix">
                                        <select [(ngModel)]="meeting.start_time" name="start_time" class="col-sm-​3"
                                            style="margin-left: 10px; margin-right: 10px;" [disabled]="disabled">
                                            <option value="08:00:00">
                                                เช้า [08:00]
                                            </option>
                                            <option value="13:00:00">
                                                บ่าย [13:00]
                                            </option>
                                        </select>
                                        <span class="center col-sm-​2">ถึง</span>
                                        <select [(ngModel)]="meeting.end_time" name="end_time" class="col-sm-​3"
                                            style="margin-left: 10px; margin-right: 10px;" [disabled]="disabled">
                                            <option value="12:00:00">
                                                เที่ยง [12:00]
                                            </option>
                                            <option value="16:30:00">
                                                เย็น [16:30]
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group" [class.has-error]="errAmount">
                                    <label for="amount" class="col-sm-3 control-label no-padding-right">
                                        จำนวนผู้ร่วมประชุม:
                                    </label>
                                    <label class="col-sm-3 block clearfix">
                                        <input [(ngModel)]="meeting.amount" type="number" class="form-control"
                                            name="amount" id="amount" (blur)="onAmount(meeting.amount)"
                                            (keyup)="onAmount(meeting.amount)" placeholder="จำนวน"
                                            style="text-align: center;" [disabled]="disabled" />
                                        <span class="help-block col-xs-12 col-sm-reset inline" style="font-size: 12px;"
                                            *ngIf="errAmount">
                                            *จำเป็นต้องมีข้อมูล !
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="type_room" class="col-sm-3 control-label no-padding-right">
                                        รูปแบบการจัดโต๊ะ:
                                    </label>
                                    <label class="col-sm-5 block clearfix">
                                        <select [(ngModel)]="meeting.type_room" name="type_room" id="type_room"
                                            class="form-control" style="width: 100%;" [disabled]="disabled">
                                            <option value="U">แบบตัว U</option>
                                            <option value="E">แบบชั้นเรียน</option>
                                            <option value="O">อื่น ๆ ระบุในรายละเอียดการประชุม</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="other" class="col-sm-3 control-label no-padding-right">
                                        รายละเอียดการประชุม:
                                    </label>
                                    <label class="col-sm-8 block clearfix">
                                        <textarea [(ngModel)]="meeting.other" style="height: 100px;"
                                            placeholder="รายละเอียดการประชุม (ถ้ามี)..." class="form-control"
                                            name="other" id="other" [disabled]="disabled"></textarea>
                                    </label>
                                </div>
                                <div *ngIf="decode" class="form-group">
                                    <label for="url" class="col-sm-3 control-label no-padding-right">
                                        URL เอกสาร:
                                    </label>
                                    <label class="col-sm-8 block clearfix">
                                        <input [(ngModel)]="meeting.url" type="text" class="form-control" name="url"
                                            id="url" placeholder="URL เอกสาร (ถ้ามี)" [disabled]="disabled" />
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-sm-3 control-label no-padding-right">
                                        ผู้จอง:
                                    </label>
                                    <label class="col-sm-5 block clearfix">
                                        <input *ngIf="!disabled" type="text" class="form-control" name="username"
                                            id="username" [value]="decode?.prename+decode?.fname+' '+decode?.lname"
                                            disabled />
                                        <input *ngIf="disabled" type="text" class="form-control" name="username"
                                            id="username" [value]="meeting?.pname+meeting?.fname+' '+meeting?.lname"
                                            disabled />
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="workgroup" class="col-sm-3 control-label no-padding-right">
                                        กลุ่มงาน / งาน:
                                    </label>
                                    <label class="col-sm-8 block clearfix">
                                        <input *ngIf="!disabled" type="text" class="form-control" name="workgroup"
                                            id="workgroup"
                                            [value]="(decode?.workgroup_sub)?decode?.workgroup_sub_name: decode?.workgroup_name"
                                            disabled />
                                        <input *ngIf="disabled" type="text" class="form-control" name="workgroup"
                                            id="workgroup" [value]="meeting?.workgroup" disabled />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!disabled" class="modal-footer center">
                    <fieldset class="col-xs-6 col-sm-6 col-md-6">
                        <button type="button" class="pull-right btn btn-sm btn-default" data-dismiss="modal"
                            aria-label="Close">
                            <i class="ace-icon fa fa-times-circle-o"></i>
                            <span class="bigger-110">ยกเลิก</span>
                        </button>
                    </fieldset>
                    <fieldset class="col-xs-6 col-sm-6 col-md-6">
                        <button type="submit" class="pull-left btn btn-sm btn-primary">
                            <i class="ace-icon fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="bigger-110">บันทึก</span>
                        </button>
                    </fieldset>
                </div>
                <div *ngIf="disabled" class="modal-footer center">
                    <button *ngIf="decode?.cid!=meeting?.cid" type="button" class="btn btn-sm btn-default"
                        data-dismiss="modal" aria-label="Close">
                        <i class="ace-icon fa fa-times-circle-o"></i>
                        <span class="bigger-110">Close</span>
                    </button>
                    <button *ngIf="decode?.cid==meeting?.cid" (click)="onDel(meeting)" type="button"
                        class="btn btn-sm btn-danger">
                        <i class="ace-icon fa fa-trash-o"></i>
                        <span class="bigger-110">ลบการจอง</span>
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>